.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.special-gradient{
  background: -webkit-linear-gradient(left, #ff1742 , #ea9c28);
  background: -o-linear-gradient(right, #ff1742, #ea9c28);
  background: -moz-linear-gradient(right, #ff1742, #ea9c28);
  background: linear-gradient(to right, #ff1742 , #ea9c28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-special-gradient{
  background: -webkit-linear-gradient(left, purple , cyan);
  background: -o-linear-gradient(right, purple , cyan);
  background: -moz-linear-gradient(right, purple , cyan);
  background: linear-gradient(to right, purple , cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}